$accent-color: #FF6E4E;
$primary-color: var(--primary-color);
$light-primary-color: #38CCF5;
$text-dark: #000000;
$text-light: #ffff;

$font-weight-regular: 500;

:root{
  --primary-color: #008cc9;
}
