$blue: (
  50 : #e0f1f9,
  100 : #b3ddef,
  200 : #80c6e4,
  300 : #38ccf5,
  400 : #269dd1,
  500 : #008cc9,
  600 : #0084c3,
  700 : #0079bc,
  800 : #006fb5,
  900 : #005ca9,
  A100 : #d3e8ff,
  A200 : #a0ceff,
  A400 : #6db3ff,
  A700 : #53a6ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$orange: (
  50 : #ffeeea,
  100 : #ffd4ca,
  200 : #ffb7a7,
  300 : #ff9a83,
  400 : #ff8469,
  500 : #ff6e4e,
  600 : #ff6647,
  700 : #ff5b3d,
  800 : #ff5135,
  900 : #ff3f25,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd7d3,
  A700 : #ffc0b9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
