<footer>
  <div>
    Copyright &copy; {{year}}. All Rights Reserved.
  </div>
    <ul class="menu">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
    </ul>

  <ul class="socials">
    <li>
    <a href="#"><fa-icon [icon]="fb"></fa-icon> </a>
    </li>
    <li>
      <a href="#"><fa-icon [icon]="instagram"></fa-icon></a>
    </li>
    <li>
      <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
    </li>
  </ul>
</footer>
