@use "src/assets/style/variables" as v;

article {
  display: block;
  margin: 25px 20px 0;
  position: relative;

  .error {
    color: #f44336;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    left: 5px;
  }

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: rgba(v.$accent-color, .21);
    z-index: 0;
    top: -120px;
    right: -110px;
  }

  nav {
    .logo {
      margin-bottom: 35px;
      display: inline-block;

      img {
        height: 35px;
        width: auto;
      }
    }
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    &.onboard {
      .art-board {
        display: none;
      }

      h2 {
        font-size: 30px;
        text-align: center;
        z-index: 1;
        width: 90%;
        margin: 0 auto 20px;

        br {
          display: none;
        }

        > span {
          font-size: inherit;
          color: v.$primary-color;
        }
      }

      span {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        line-height: 1.2;
        display: inline-block;
        margin: 0 auto;
      }

      div.form-container {
        padding-bottom: 50px;
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;

        h2 {
          display: none;
        }

        .instructions {
          display: none;
        }

        &:after {
          content: url('../../../assets/images/orange-dots.svg');
          position: absolute;
          bottom: 25px;
          left: -15px;
        }

        form {
          margin-top: 30px;
          width: 100%;
          background-color: #FBFBFB;
          padding: 35px 20px;
          border-radius: 12px;
          box-shadow: 0 4px 20px #00000029;
          position: relative;
          z-index: 1;


          .label {
            font-size: 14px;
            margin-bottom: 10px;
            display: block;
            text-align: left;
            font-weight: 700;
          }

          mat-form-field {
            width: 100%;
          }

          mat-radio-button {
            margin-right: 30px;
            margin-bottom: 50px;
          }

          h4 {
            color: v.$primary-color;
            text-align: center;
            font-size: 18px;
            font-weight: v.$font-weight-regular;
            line-height: 1.5;
            letter-spacing: 1px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 50px;
          }

          input {
            background-color: white;
          }

          button {
            width: 100%;
            background-color: v.$accent-color;
            color: white;
            border-radius: 6px;
            border: none;
            padding: 13px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 50px;

            >span{
              font-size: 16px;
            }
          }
        }
      }
    }

    &.brag {
      background: url("../../../assets/images/brag-bg.svg") no-repeat;
      background-size: 100%;
      padding: 60px 30px;
      font-size: 22px;
      margin-left: -30px;
      margin-right: -30px;
      line-height: 1.5;
      color: v.$primary-color;
      font-weight: 500;
    }

    &.benefit {
      position: relative;

      h3 {
        font-size: 22px;
        width: 50%;
        text-align: center;
        margin: 50px auto;
        font-weight: 600;

        &:after {
          content: url('../../../assets/images/blue-dots.svg');
          position: absolute;
          right: -20px;
          top: 50px;
        }
      }

      ul {
        list-style: none;

        li {
          display: flex;

          span {
            font-size: 16px;
            font-weight: v.$font-weight-regular;
            margin-bottom: 30px;
            display: inline-block;
          }

          &:before {
            content: url('../../../assets/images/check.svg');
            margin-left: -35px;
            margin-right: 30px;
          }
        }
      }
    }

    &.testimonials {
      background: transparent linear-gradient(180deg, #38ccf5 0%, #3ECCF5 0%, #42CCF5 16%, #36C1EE 38%, #119FD6 62%, #2A97BF 81%, #108ABF 100%) 0% 0%;
      margin-left: -30px;
      margin-right: -30px;
      padding: 60px 60px;
      row-gap: 50px;

      app-testimonial{
        max-width: 400px;
      }
    }
  }
}

.flex {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;

  > * {
    width: 100%;
  }
}

::ng-deep .mat-form-field-infix {
  width: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}


@media screen and(min-width: 830px) {
  article {
    --primary-color: #38ccf5;

    &:after {
      content: none;
    }

    nav {
      .logo {
        margin-left: 140px;
        margin-bottom: 80px;
        margin-top: 50px;
        display: inline-block;

        img {
          height: 35px;
          width: auto;
        }
      }
    }

    .section {
      &.onboard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 140px;

        > div {
          h2 {
            text-align: left;
            margin-left: 0;
            width: 60%;
            margin-bottom: 40px;

            br {
              display: inherit;
            }

            span {
              color: v.$primary-color;
            }
          }

          > span {
            width: 100%;
            display: inline-block;
            text-align: left;
            margin-bottom: 100px;
            max-width: 350px;
          }

          .art-board {
            width: 550px;
            position: relative;
            display: inherit;

            &:after {
              content: url('../../../assets/images/blue-circle.svg');
              display: inline-block;
              width: 180px;
              height: auto;
              position: absolute;
              top: -60px;
              left: -10px;
              z-index: 0;
            }

            img {
              width: 100%;
              z-index: 1;
              position: relative;
            }
          ;

            span {
              display: inline-block;
              background-color: white;
              border-radius: 50%;
              box-shadow: 0px 3px 6px #00000029;
              position: absolute;

              &:first-child {
                height: 20px;
                width: 20px;
                top: -15px;
                right: 35px;
              }

              &:nth-of-type(2) {
                height: 40px;
                width: 40px;
                top: -55px;
                right: -15px;
              }

              &:last-of-type {
                height: 80px;
                width: 80px;
                top: -120px;
                right: -100px;
              }
            }
          }
        }

        div.form-container {
          margin-top: -70px;
          justify-self: center;

          &:after {
            content: '';
            display: inline-block;
            height: 370px;
            width: 370px;
            border-radius: 50%;
            background-color: #9BE5FA;
            top: -70px;
            left: -100px;
          }

          h4 {
            display: none;
          }

          h2 {
            display: block;
            text-align: center;
            width: 100%;
            font-weight: bold;
            margin-bottom: 0;
            height: 75px;
            font-size: 26px;
          }

          .instructions {
            display: block;
            text-align: center;
            width: 75%;
            margin: 0 auto 55px;
            font-weight: 600;
            font-size: 16px;
          }

          span.instructions {
            font-weight: normal;
            margin-bottom: 20px;
          }

          &:before {
            content: url('../../../assets/images/big-orange-dots.svg');
            position: absolute;
            top: -20px;
            right: -65px;
          }

          form {
            border-radius: 30px;
            padding: 50px;
            justify-self: center;

          }
        }
      }

      &.brag {
        background: url("../../../assets/images/brag-big.svg") no-repeat;
        background-size: contain;

        div {
          margin: 150px auto;
          color: v.$primary-color;
        }
      }

      &.benefit {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-left: 140px auto;
        margin: 80px 0;

        h3 {
          margin-left: 0;

          span {
            color: v.$primary-color;
          }

          &:after {
            content: '';
          }
        }

        ul {
          width: 500px;
          justify-self: center;
        }
      }

      &.testimonials {
        padding-left: 140px;
        padding-right: 140px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 150px;

        app-testimonial {
          max-width: 400px;
        }
      }
    }
  }
}

mat-form-field {
  font-size: 12px;
}


.special {
  background-color: white;
  position: relative;
  gap: 0;
  height: 48px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, .25) solid;

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 0;
    }
  }

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 1.25em !important;
}

button {
  cursor: poiter;
  &:active {
    transform-origin: center;
    transform: scale(.99);
    transition: 400ms all;
  }
  &:disabled {
    opacity: .7;
    cursor: default;
  }
}

.disbled{
  opacity: .7;
}
